.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--main-bg);
}

.page_inner {
  background: var(--preview-background);
}

.page__main {
  flex-grow: 1;
}

.page__content {
  padding-top: 32px;
  flex-grow: 1;
  max-width: 100%;
}

.page__main-footer {
  margin-top: 72px;
  margin-bottom: 136px;
}

.page__inner-footer {
  margin-top: 56px;
  margin-bottom: 56px;
}

@media screen and (max-width: 768px) {
  .page__content {
    margin-bottom: 0;
    padding: 32px 0 0 0;
  }
}